.btnInVisibleInput, .btnVisibleInput, .btnDayNight, .btnClear, .btnPostroenie, .btnPostroenie2, .btnClearCanvas {
    border-radius: 50%
}

/*=====================================   Режим День/Ночь - Вариант 1 и 2 ============================================*/

/*!* ===   Создаём базовый цвет который будет меняться. Привязываем его к data-theme на html.   === *!*/
/*html[data-theme='green'] {*/
/*    --theme-color: 110;*/
/*}*/

/*!* ===  Используем яркость и насыщенность цветов   === *!*/
/*:root {*/
/*    --color: ~'hsl(var(--theme-color), 15%, 44%)';*/
/*    --background-color: ~'hsl(var(--theme-color), 30%, 10%)';*/
/*}*/

/*!* ===   Применение темы к элементу   === *!*/
/*.btnDayNight {*/
/*    color: var(--color);*/
/*    background-color: var(--background-color);*/
/*}*/

/*!* ===   Меняем контрастность. Заменяем :root на html[с атрибутом].  === *!*/
/*!*// :root /*/
/*html {*/
/*&[data-theme-style='normal'] { }*/
/*&[data-theme-style='dark'] { }*/
/*}*/

/*!* ===   Для каждой темы берем свои Теперь для каждой темы берём свои s,l значения.   === *!*/
/*html {*/
/*&[data-theme-style='normal'] {*/
/*     --color: ~'hsl(var(--theme-color), 15%, 44%)';*/
/*     --background-color: ~'hsl(var(--theme-color), 30%, 10%)';*/
/* }*/
/*&[data-theme-style='dark'] {*/
/*     --color: ~'hsl(var(--theme-color), 70%, 31%)';*/
/*     --background-color: ~'hsl(var(--theme-color), 3%, 3%)';*/
/* }*/
/*}*/


/*Вариант два*/
/*       html[data-theme=green] {*/
/*           --theme-color: 110;*/
/*       }*/

/*:root {*/
/*    --color: ~"hsl(var(--theme-color), 15%, 44%)";*/
/*    --background-color: ~"hsl(var(--theme-color), 30%, 10%)";*/
/*}*/

/*.btnDayNight{*/
/*    color: var(--color);*/
/*    background-color: var(--background-color);*/
/*}*/

/*html[data-theme-style=normal] {*/
/*    --color: ~"hsl(var(--theme-color), 15%, 44%)";*/
/*    --background-color: ~"hsl(var(--theme-color), 30%, 10%)";*/
/*}*/
/*html[data-theme-style=dark] {*/
/*    --color: ~"hsl(var(--theme-color), 70%, 31%)";*/
/*    --background-color: ~"hsl(var(--theme-color), 3%, 3%)";*/
/*}*/

/*=======================================   Режим День/Ночь - Вариант 3 ==============================================*/

