.section1 {
    float: left;
    margin: 50px 1.5%;
    width: 40%;
}
.aside1 {
    float: right;
    margin: 50px 1.5%;
    width: 53%;
}

.section1 > input {
    width: 50px;
}

/*стили кнопки*/
body {
    background-color: #edeef0;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

/* reset button css */
button {
    display: inline-block;
    border: none;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* add neumorphistic style to button */

.btn-neu {
    box-shadow: -5px 8px 5px rgba(0, 0, 0, 0.2),
    5px -8px 10px rgba(255, 255, 255, 0.5);
    background-color: #edeef0;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: 0.2s all;
}

.btn-neu:active {
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
    box-shadow: none;
}

.btn-neu:active .heart {
    stroke: #b74e7c;
}

.btn-neu:focus {
    outline: none;
}

.heart {
    stroke: #c5c6c9;
    transition: 0.2s all;
}

.clicked {
    box-shadow: inset -2px 2px 10px rgba(0, 0, 0, 0.2),
    inset 2px -2px 10px rgba(255, 255, 255, 0.5);
    transition: 0.2s all;
}

.clicked .heart {
    stroke: #b74e7c;
}
