.logo {
    display: block;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo_url {
    background-image:  url('images/kostum.svg');
}