body{
    width: 100%;
    margin: 0;
}

img.u_back_opacity {
    background: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
}

/*замедляет эффект смены слайдов в карусели*/
.item {
    display: none;
    position: relative;
    .transition(5.8s ease-in-out left);
}

.card{
    color: #ffffff;
    opacity: 0.9;
    margin: 1px 1px 270px 20px;
    background-color: #2f6f9f;
}

#userCardStyle{
    border: none;
}

.card-title{
    font-size: 70px;
}

.card-title, .card-text {
    text-align: left;
}

.card-body{
    background-color: rgba(0, 0, 0, 0.8);
}

.userCardComponent{
    margin: 1px 1px 10px 20px;
}

.user_btn_left1{
    margin-left: -240px;
}

.user_btn_left2{
    margin-left: 10px;
}

button#userBtnColor1,
button#userBtnColor2
{
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 20px;
    width: 130px;
    padding: 6px;
    transition: .5s;
    letter-spacing: 3px
}

button#userBtnColor1:hover,
button#userBtnColor2:hover
{
    background: #f4ee03;
    color: #fff;
    box-shadow: 0 0 5px #f4ee03,
    0 0 25px #f4ee03,
    0 0 50px #f4ee03,
    0 0 100px #f4ee03;
}

button#userBtnColor2
{
    background-color: #f4ee03;
}

header{
    margin-top: 50px;
    font-family: Cuprum, Arial, Helvetica, sans-serif;
}

.u_header{margin: -1px 1px 55px 720px;}
.u_header_menu{margin: -1px -1px -48px -1122px;}

.dws-menu *{
    margin: 0;
    padding: 0;
}
.dws-menu ul,
.dws-menu ol{
    list-style: none;
}
.dws-menu > ul{
    display: flex;
    justify-content: center;
}
.dws-menu > ul li{
    position: relative;
    /*border-right: 1px solid #c7c8ca;*/
}
.dws-menu > ul li:first-child{
    /*border-left: 1px solid #b2b3b5;*/
}
.dws-menu > ul li:last-child{
    /*border-right: 1px solid #babbbd;*/
}
.dws-menu > ul li > a i.fa{
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
}
.dws-menu > ul li a{
    display: block;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9c9c9+0,f6f6f6+2,c4c5c7+98,757577+100;Custom+3 */
    /*background: rgb(201,201,201); !* Old browsers *!*/
    /*background: -moz-linear-gradient(top,  rgba(201,201,201,1) 0%, rgba(246,246,246,1) 2%, rgba(196,197,199,1) 98%, rgba(117,117,119,1) 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(top,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to bottom,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#757577',GradientType=0 ); !* IE6-9 *!*/

    padding: 15px 19px 15px 23px;
    font-size: 12px;
    font-weight: bold;
    /*color: #454547;*/
    color: #ffffff;
    text-decoration: none;
    text-transform:uppercase;
    transition: all 0.3s ease;
}
.dws-menu li a:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0e1e5+0,454547+2,454547+98,e0e1e5+100 */
    /*background: rgb(224,225,229); !* Old browsers *!*/
    /*background: -moz-linear-gradient(top,  rgba(224,225,229,1) 0%, rgba(69,69,71,1) 2%, rgba(69,69,71,1) 98%, rgba(224,225,229,1) 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(top,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to bottom,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e1e5', endColorstr='#e0e1e5',GradientType=0 ); !* IE6-9 *!*/

    color: #ffffff;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
}

/*sub menu*/
.dws-menu li ul{
    position: absolute;
    min-width: 150px;
    display: none;
}
.dws-menu li > ul li{
    /*border: 1px solid #000000;*/
}
.dws-menu li > ul li a{
    padding: 10px;
    text-transform: uppercase;
    /*background: #e4e4e5;*/
    /*opacity: 0.5;*/
}
.dws-menu li > ul li ul{
    position: absolute;
    right: -150px;
    top: 0;
}
.dws-menu li:hover > ul{
    display: block;
}

.user_s{
    box-shadow: none;
}

.userIcons{
    width: 20px;
    margin: 130px 1px 1px 410px;
}

.userIconsSocial{
    list-style: none;
}

.userColDws{
    /*margin: 1px 1px -30px 980px;*/
}

/*.userCol-2{*/
/*    margin: 1px -10px -1px 1px;*/
/*}*/

#user_container_vmode{
    margin: 10px 1px 1px 1px;
}


div .col-md4 {
    margin: 1px 1px 1px  -50px;
}

/*карточки*/
.dws-menu2 > ul li a, .dws-menu2 > div.cardVikroika{
    display: block;
    padding: 15px 30px 15px 23px;
    font-size: 12px;
    font-weight: bold;
    /*color: #454547;*/
    color: #ffffff;
    text-decoration: underline;
    text-transform:uppercase;
    transition: all 0.3s ease;
    box-shadow: 1px 5px 10px -5px black;
}

.userBackStateVikroikaLeft
{
    text-align: left;
    margin: 0 1px 1px -40px;
}

.userBackStateVikroikaRight
{
   margin: -18px -230px 1px 1px;
}

.leftA
{

}

.rightA
{
    text-align: right;
}

/*.userBackStateVikroika,.userFormVikroika,.userBandVikroika,.userBtnVikroika {*/

/*}*/

/*.userBackStateVikroika {*/

/*}*/

/*.userFormVikroika {*/

/*}*/

/*.userBandVikroika {*/

/*}*/

/*.userBtnVikroika {*/

/*}*/

/*============================*/


.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 12px;
    color: #fff;
    margin-bottom: 25px;
    border: none;
    border-bottom: 1px dotted #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 18px 0;
    font-size: 10px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    /*color: #03e9f4;*/
    color: #f4ee03;
    font-size: 9px;
}


.login-box form a
{
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    /*color: #03e9f4;*/
    color: #f4ee03;
    font-size: 8px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    /*margin-top: 40px;*/
    /*margin-left: 10px;*/
    letter-spacing: 4px
}

.login-box a:hover
{
    background: #f4ee03;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #f4ee03,
    0 0 25px #f4ee03,
    0 0 50px #f4ee03,
    0 0 100px #f4ee03;
    /*color: #f4ee03;*/
}

.login-box a span
{
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #f4ee03);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1
{
    0%
    {
        left: -100%;
    }
    50%,100%
    {
        left: 100%;
    }
}

.login-box a span:nth-child(2)
{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #f4ee03);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2
{
    0%
    {
        top: -100%;
    }
    50%,100%
    {
        top: 100%;
    }
}

.login-box a span:nth-child(3)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #f4ee03);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3
{
    0%
    {
        right: -100%;
    }
    50%,100%
    {
        right: 100%;
    }
}

.login-box a span:nth-child(4)
{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #f4ee03);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4
{
    0%
    {
        bottom: -100%;
    }
    50%,100%
    {
        bottom: 100%;
    }
}

.userUserBox1
{
    margin-left: -3px;
}

.userUserBox2
{
    margin-left: 20px;
}

.qwerty{
    margin: 1px 1px -10px 1px;
}

.qwerty2{
    margin: 1px 1px -100px 1px;

}

.row.userRowCard
{
    margin-top: -50px;
    margin-bottom: -20px;
}

div.container.userContainerVModeLabs{
    width: 1400px;
    height: 410px;
    margin-left: -125px;
    margin-top: -150px;
    margin-bottom: 200px;
    z-index: 2;
}

div.col.userColVModeLabs{
    width: 500px;
    margin-left: -18px;
}

.alert-secondary{
    height: 600px;
}

.u_header_menu_slide_2{

}

.user-carousel-caption-slide-2{
    margin-top: 100px;
}

.u_header_slide_2_v{
    margin: -1px 1px 155px 720px;
}

.u_header_menu_slide_2_v{
    margin-left: -15px;
    margin-bottom: 150px;
}

button#userBtnColor3
{
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 20px;
    width: 110px;
    padding: 6px;
    transition: .5s;
    letter-spacing: 1px
}

button#userBtnColor3:hover
{
    background: #f4036b;
    color: #000;
    box-shadow: 0 0 5px #f4036B,
    0 0 25px #f4036B,
    0 0 50px #f4036B,
    0 0 100px #f4036B;
    border-color: #000;
}



button#userBtnColor3
{
    background-color: #f4ee03;
}

div.mb-3 > input[placeholder]                 {text-overflow:ellipsis; background: #fff;  color: #f4ee03;  border-color: #fff;}
div.mb-3 > input::-webkit-input-placeholder   {text-overflow:ellipsis; background: #fff;  color: #f4ee03;  border-color: #fff;}
div.mb-3 > input::-moz-placeholder            {text-overflow:ellipsis; background: #fff;  color: #fff;  box-shadow: 0 0 5px #f4036B,  0 0 10px #f4036B,  0 0 15px #f4036B,  0 0 20px #f4036B;  border-color: #fff;}
div.mb-3 > input:-moz-placeholder             {text-overflow:ellipsis; background: #fff;  color: #fff;  box-shadow: 0 0 5px #f4036B,  0 0 10px #f4036B,  0 0 15px #f4036B,  0 0 20px #f4036B;  border-color: #fff;}
div.mb-3 > input:-ms-input-placeholder        {text-overflow:ellipsis; background: #fff;  color: #fff;  box-shadow: 0 0 5px #f4036B,  0 0 10px #f4036B,  0 0 15px #f4036B,  0 0 20px #f4036B;  border-color: #fff;}

div.mb-3:hover > input[placeholder]                 {text-overflow:ellipsis; background: #f4036b;  color: #fff;  box-shadow: 0 0 5px #f4036B,  0 0 10px #f4036B,  0 0 15px #f4036B,  0 0 20px #f4036B;  border-color: #fff;}
div.mb-3:hover > input::-webkit-input-placeholder   {text-overflow:ellipsis; background: #f4036b;  color: #fff;  box-shadow: 0 0 5px #f4036B,  0 0 10px #f4036B,  0 0 15px #f4036B,  0 0 20px #f4036B;  border-color: #fff;}
div.mb-3:hover > input::-moz-placeholder            {text-overflow:ellipsis; background: #f4036b;  color: #fff;  box-shadow: 0 0 5px #f4036B,  0 0 10px #f4036B,  0 0 15px #f4036B,  0 0 20px #f4036B;  border-color: #fff;}
div.mb-3:hover > input:-moz-placeholder             {text-overflow:ellipsis; background: #f4036b;  color: #fff;  box-shadow: 0 0 5px #f4036B,  0 0 10px #f4036B,  0 0 15px #f4036B,  0 0 20px #f4036B;  border-color: #fff;}
div.mb-3:hover > input:-ms-input-placeholder        {text-overflow:ellipsis; background: #f4036b;  color: #fff;  box-shadow: 0 0 5px #f4036B,  0 0 10px #f4036B,  0 0 15px #f4036B,  0 0 20px #f4036B;  border-color: #fff;}

/*div.mb-3 > input[placeholder]:focus               {font-size: 0;}*/
/*div.mb-3 > input:focus::-webkit-input-placeholder {font-size: 0;}*/
/*div.mb-3 > input:focus::-moz-placeholder          {opacity:0;}*/
/*div.mb-3 > input:focus:-moz-placeholder           {opacity:0;}*/
/*div.mb-3 > input:focus:-ms-input-placeholder      {opacity:0;}*/

/* === + < форма расчета параметров выкройки  > === */
/* Светлая тема */
.light-theme {
    color: #333333;
    background-color: #eae9f2;
}

.light-theme .page-header {
    background-color: #ffffff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.light-theme .header-link {
    color: #6653d9;
}

.light-theme .header-link::before {
    background: url("img/arrow-back-light.svg") no-repeat 0 0;
}

.light-theme .theme-button {
    color: #6653d9;
    border: 1px solid #6653d9;
}

.light-theme .theme-button::before {
    background-image: url("img/moon-normal.svg");
}

.light-theme .theme-button:focus,
.light-theme .theme-button:hover {
    color: #ffffff;
    background-color: #6653d9;
}

.light-theme .theme-button:focus::before,
.light-theme .theme-button:hover::before {
    background-image: url("img/moon-hover.svg");
}

.light-theme .menu-open {
    background-color: #ffffff;
    background-image: url("img/menu-open-light.svg");
}

.light-theme .menu-open:focus,
.light-theme .menu-open:hover {
    background-color: #6653d9;
    background-image: url("img/menu-open-dark.svg");
}

.light-theme .menu-close {
    background-color: #6653d9;
}

.light-theme .menu-close:focus,
.light-theme .menu-close:hover {
    background-color: #473c8d;
}

.light-theme .main-menu {
    background-color: #6653d9;
    color: #ffffff;
}

.light-theme .main-menu a:focus,
.light-theme .main-menu a:hover {
    background-color: #473c8d;
}

.light-theme .news-view button {
    border: 1px solid #6653d9;
    color: #6653d9;
}

.light-theme .news-view button:focus,
.light-theme .news-view button:hover,
.light-theme .news-view button:active,
.light-theme .news-view .view-checked {
    background-color: #6653d9;
    color: #ffffff;
}

.light-theme .news-view .row-view:focus::before,
.light-theme .news-view .row-view:hover::before,
.light-theme .news-view .row-view:active::before {
    background-image: url("img/rows-light-checked.svg");
}

.light-theme .news-view .tile-view:focus::before,
.light-theme .news-view .tile-view:hover::before,
.light-theme .news-view .tile-view:active::before {
    background-image: url("img/tiles-light-checked.svg");
}

.light-theme .row-view::before {
    background-image: url("img/rows-light.svg");
}

.light-theme .tile-view::before {
    background-image: url("img/tiles-light.svg");
}

.light-theme .row-view::before {
    background-image: url("img/rows-light.svg");
}

.light-theme .row-view.view-checked::before {
    background-image: url("img/rows-light-checked.svg");
}

.light-theme .tile-view.view-checked::before {
    background-image: url("img/tiles-light-checked.svg");
}

.light-theme .new-block {
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.light-theme .new-block time {
    color: #aaaaaa;
}

.light-theme .cookies-agreement {
    background-color: #fdeacd;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.2);
}

.light-theme .button {
    background-color: #6653d9;
    color: #ffffff;
}

.light-theme .button:focus,
.light-theme .button:hover {
    background-color: #473c8d;
}

.light-theme .page-footer {
    background-color: #6653d9;
    color: #ffffff;
}

.light-theme .subscription {
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.light-theme .subscription-message {
    background-color: #6653d9;
    color: #eae9f2;
}

.light-theme .subscription-message::before {
    background-image: url("img/icon-ok-light.svg");
}

.light-theme .subscription-label {
    color: #6653d9;
}

.light-theme .subscription-email {
    border-bottom: 1px solid #6653d9;
    color: #333333;
}

/* Тёмная тема */
.dark-theme {
    color: #f2f2f2;
    background-color: #17161a;
}

.dark-theme .page-header {
    background-color: #373540;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}

.dark-theme .header-link {
    color: #9484f2;
}

.dark-theme .header-link::before {
    background: url("img/arrow-back-dark.svg") no-repeat 0 0;
}

.dark-theme .theme-button {
    color: #9484f2;
    border: 1px solid #9484f2;
}

.dark-theme .theme-button::before {
    background-image: url("img/sun-normal.svg");
}

.dark-theme .theme-button:focus,
.dark-theme .theme-button:hover {
    color: #17161a;
    background-color: #9484f2;
}

.dark-theme .theme-button:focus::before,
.dark-theme .theme-button:hover::before {
    background-image: url("img/sun-hover.svg");
}

.dark-theme .menu-open {
    background-color: #373540;
    background-image: url("img/menu-open-dark.svg");
}

.dark-theme .menu-open:focus,
.dark-theme .menu-open:hover {
    background-color: #473c8d;
    background-image: url("img/menu-open-dark.svg");
}

.dark-theme .menu-close {
    background-color: #473c8d;
}

.dark-theme .menu-close:focus,
.dark-theme .menu-close:hover {
    background-color: #6653d9;
}

.dark-theme .main-menu {
    background-color: #473c8d;
    color: #f2f2f2;
}

.dark-theme .main-menu a:focus,
.dark-theme .main-menu a:hover {
    background-color: #6653d9;
}

.dark-theme .news-view button {
    border: 1px solid #9484f2;
    color: #9484f2;
}

.dark-theme .news-view button:focus,
.dark-theme .news-view button:hover,
.dark-theme .news-view button:active,
.dark-theme .news-view .view-checked {
    background-color: #9484f2;
    color: #17161a;
}

.dark-theme .news-view .row-view:focus::before,
.dark-theme .news-view .row-view:hover::before,
.dark-theme .news-view .row-view:active::before {
    background-image: url("img/rows-dark-checked.svg");
}

.dark-theme .news-view .tile-view:focus::before,
.dark-theme .news-view .tile-view:hover::before,
.dark-theme .news-view .tile-view:active::before {
    background-image: url("img/tiles-dark-checked.svg");
}

.dark-theme .row-view::before {
    background-image: url("img/rows-dark.svg");
}

.dark-theme .tile-view::before {
    background-image: url("img/tiles-dark.svg");
}

.dark-theme .row-view.view-checked::before {
    background-image: url("img/rows-dark-checked.svg");
}

.dark-theme .tile-view.view-checked::before {
    background-image: url("img/tiles-dark-checked.svg");
}

.dark-theme .new-block {
    background-color: #2a2930;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

.dark-theme .new-block time {
    color: #888888;
}

.dark-theme .cookies-agreement {
    background-color: #473c8d;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.6);
}

.dark-theme .button {
    background-color: #9484f2;
    color: #17161a;
}

.dark-theme .button:focus,
.dark-theme .button:hover {
    background-color: #b6aaff;
}

.dark-theme .page-footer {
    background-color: #0a0910;
    color: #f2f2f2;
}

.dark-theme .subscription {
    background-color: #2a2930;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

.dark-theme .subscription-message {
    background-color: #9484f2;
    color: #17161a;
}

.dark-theme .subscription-message::before {
    background-image: url("img/icon-ok-dark.svg");
}

.dark-theme .subscription-label {
    color: #9484f2;
}

.dark-theme .subscription-email {
    border-bottom: 1px solid #9484f2;
    color: #f2f2f2;
}
/* === - < форма расчета параметров выкройки /> === */

.circle-block_two {
    fill: #ffef68;
    stroke: #3766ef;
    stroke-width: 10px;
}

.circle{
    border: 1px solid #000;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

















